<!DOCTYPE html>
<html lang="ru">

  <head>
    {% load staticfiles %}

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>VOID`s blog</title>

    <link rel="stylesheet" href="{% static 'css/style.css' %}">

      <link href="https://fonts.googleapis.com/css?family=Overpass+Mono|Ubuntu+Mono|VT323" rel="stylesheet">
<link rel='stylesheet' href='//cdn.jsdelivr.net/font-hack/2.020/css/hack.min.css'>
<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
<link rel="stylesheet" href="css/bootstrap4-neon-glow.min.css">

  </head>
  <body>


<div class="jumbotron bg-transparent mb-0 radius-0">
      <div class="row">
        <div class="col-xl-12 col-sm-12">
            <div class="row">
                <div class="col-xl-3"></div>
                <div class="col-xl-1">
                        <h6 align="center"><span class="hal-9000 d-block mx-auto mb-4 mt-3"></span></h6>
                </div>
                <div class="col-xl-4">
                    {% url 'post_list' as the_url %}
                    {% if request.path == the_url and number_of_post == 1 %}
                    <h1 class="display-2" align="center">[VOID]`s blog</h1>
                    {% else %}
                    <a href="{% url 'post_list' %}" style="color:#e4e2ff; text-decoration:underline"><h1 class="display-2" align="center">[VOID]`s blog</h1></a>
                    {% endif %}
                </div>
                <div class="col-xl-1">
                    <h6 align="center"><span class="hal-9000 d-block mx-auto mb-4 mt-3"></span></h6>
                </div>
                <div class="col-xl-3"></div>
            </div>

            <h2 class="lead mb-3 text-mono text-darkgrey" align="center">очень интересный блог про важные темы, программирование и мемы.</h2>


<!-- Navigation's beginning -->

            <div align="center" id="NAV">
                <div class="row">
                    <div class="col-xl-4 col-sm-3">
                        {% if posts.has_previous %}
                        <a href="?page={{ posts.previous_page_number }}" class="btn btn-shadow text-mono btn-dark navbutton prev">&lt;&lt;&lt;=СЮДА</a>
                        {% elif count >= pknext %}
                        <a href="{% url 'post_detail' pk=pknext %}" class="btn btn-shadow text-mono btn-dark navbutton prev">&lt;&lt;&lt;=ВПЕРЕД</a>
                        {% else %}
                        <form id="searchform" action="{% url 'search' %}" method="get" class="input-group mb-3">
    <input type="text" name="q" type="text" class="form-control"/>
                            <div class="input-group-append">
    <button type="button" onclick="searchform.submit()" type="submit" class="btn btn-outline-light">Поиск</button>
                            </div>
</form>
                        {% endif %}
                    </div>
                    <div class="col-xl-2 col-sm-3">
                    {% if 'archieve' not in request.path %}

                        <a href="{% url 'archieve' %}" class="btn btn-block btn-lg btn-outline-light navbutton">старьё</a>


                    {% endif %}
                    </div>
                    <div class="col-xl-2 col-sm-3">
                    {% if 'tags' not in request.path %}

                        <a href="{% url 'tags_list' %}" class="btn btn-block btn-lg btn-outline-light navbutton">тэги</a>

                    {% endif %}
                    </div>
                    <div class="col-xl-4 col-sm-3">
                        {% if posts.has_next %}
                        <a href="?page={{ posts.next_page_number }}"><p class="btn btn-shadow text-mono btn-dark navbutton next">ТУДА=&gt;&gt;&gt;</p> </a>
                        {% elif pkprevious > 0 %}
                        <a href="{% url 'post_detail' pk=pkprevious %}"><p class="btn btn-shadow text-mono btn-dark navbutton next">НАЗАД=&gt;&gt;&gt;</p> </a>
                        {% else %}
                        {% if posts.has_previous %}
                        <form id="searchform" action="{% url 'search' %}" method="get" class="input-group mb-3">
    <input type="text" name="q" type="text" class="form-control"/>
                            <div class="input-group-append">
    <button type="button" onclick="searchform.submit()" type="submit" class="btn btn-outline-light">Поиск</button>
                            </div>
</form>
                        {% endif %}
                        {% endif %}
                    </div>
                </div>
                {% if 'post' not in request.path %}
                <br>


                <div class="progress pagesbar">
                    <div class="progress-bar progress-bar-striped progress-bar-animated bg-danger" aria-valuenow="{{ percentnum }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ percent }}"><b>{{ percent }}</b></div>
                </div>
                {% endif %}
            </div>

            </div>
          </div>
            <br>

<!-- Navigation's end -->

            {% block indexpost %}
            {% endblock %}


<div class="footer">
                <div class="copywright">
                    <h3 class="white-text" style="display: inline-block;"><a href="#" class="btn btn-outline-light">Пойти наверх</a></h3>
                        <h3 class="text-darkgrey" style="display: inline-block;">&copy; imgVOID, 2018</h3>
                </div>
    </div>
          </div>

<!-- Navigation's end -->


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
  </body>
</html>
