
{% block navigation %}
<div align="center" id="NAV">
                <div class="row pagination">
                    <div class="col-xl-4 col-sm-3">
                        {% if posts.has_previous %}
                        <a href="?page={{ posts.previous_page_number }}" class="btn btn-shadow text-mono btn-dark navbutton prev">&lt;&lt;&lt;=СЮДА</a>
                        {% elif count >= pknext %}
                        <a href="{% url 'post_detail' pk=pknext %}" class="btn btn-shadow text-mono btn-dark navbutton prev">&lt;&lt;&lt;=ВПЕРЕД</a>
                        {% else %}
                        <form id="searchform" action="{% url 'search' %}" method="get" class="input-group mb-3">
    <input type="text" name="q" type="text" class="form-control"/>
                            <div class="input-group-append">
    <button type="button" onclick="searchform.submit()" type="submit" class="btn btn-outline-light">Поиск</button>
                            </div>
</form>
                        {% endif %}
                    </div>
                    <div class="col-xl-2 col-sm-3">
                    {% if 'archieve' not in request.path %}
                    
                        <a href="{% url 'archieve' %}" class="btn btn-block btn-lg btn-outline-light navbutton">старьё</a>
                    
                    
                    {% endif %}
                    </div>
                    <div class="col-xl-2 col-sm-3">
                    {% if 'tags' not in request.path %}
                    
                        <a href="{% url 'tags_list' %}" class="btn btn-block btn-lg btn-outline-light navbutton">тэги</a>
                    
                    {% endif %}
                    </div>
                    <div class="col-xl-4 col-sm-3">
                        {% if posts.has_next %}
                        <a href="?page={{ posts.next_page_number }}"><p class="btn btn-shadow text-mono btn-dark navbutton next">ТУДА=&gt;&gt;&gt;</p> </a>
                        {% elif pkprevious > 0 %}
                        <a href="{% url 'post_detail' pk=pkprevious %}"><p class="btn btn-shadow text-mono btn-dark navbutton next">НАЗАД=&gt;&gt;&gt;</p> </a>
                        {% else %}
                        <form id="searchform" action="{% url 'search' %}" method="get" class="input-group mb-3">
    <input type="text" name="q" type="text" class="form-control"/>
                            <div class="input-group-append">
    <button type="button" onclick="searchform.submit()" type="submit" class="btn btn-outline-light">Поиск</button>
                            </div>
</form>
                        {% endif %}
                    </div>
                </div>
                <br>
    {% endblock %}