{% extends 'base.html' %}
{% block indexpost %}

<div style="width: 100%; padding: 1vw; border: dashed #ff3c5c 0.25rem; box-shadow: black 0 0 20px;">
    <div style="background-color:whitesmoke; color: black; width: 100%; padding: 5vw; border-radius: 10px">
    	<h1 align="center">
        {{ post.title }}
    	</h1>
    <hr class="my-4">
        <div style="background-color:white;border-radius: 10px;padding: 5vw; border: 1px solid #dcdcdc">
            <h6 style="margin-bottom: 1.25rem;">
        {{ post.text|linebreaksbr }}
    </h6>
    <p style="color:#ff3c5c;" align="right">{{ post.published_date }}</p>
        </div>
    
          </div>


</div>

{% endblock %}